* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e8e8e8;
  background-color: #202124;

  font-size: 14px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 6px;

  .left_nav {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;

      padding: 5px;
      margin: 0 5px 0 15px;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .right_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      text-decoration: none;

      padding: 5px;
      margin: 0 5px 0 15px;
    }
    a:hover {
      text-decoration: underline;
    }

    .nav_icon {
      padding: 0;
    }

    span {
      background-color: #202124;
      padding: 5px;
      border-radius: 50%;
    }

    span:hover {
      transition: all 0.3s ease;
      background-color: #34373a;
    }

    img {
      width: 30px;
      outline: 5px solid #202124;
      border-radius: 50%;
    }

    img:hover {
      outline: 5px solid #34373a;
      transition: all 0.3s ease;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search_bar {
    height: 40px;
    width: 550px;
    background: #202124;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: transparent;
    padding: 5px;
    margin-top: 2rem;

    display: flex;
    align-items: center;

    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;

    .search_icon {
      display: flex;
      align-items: center;
      padding-right: 13px;
      padding-left: 14px;
      font-size: 18px;
    }

    .input {
      display: flex;
      flex-wrap: nowrap;
      flex: 1;

      #input_bar {
        height: 30px;
        width: 100%;
        padding: 3px 10px;
        background-color: transparent;
        overflow: hidden;

        line-height: 22px;
        resize: none;
        border: none;
        word-wrap: normal;
        outline: none;
        -webkit-tap-highlight-color: transparent;
      }
    }

    .left_search_item {
      background: #202124;
      padding: 0px 8px;

      .mic,
      .capture {
        flex: 1 0 auto;
        display: flex;
        cursor: pointer;
        align-items: center;
        border: 0;
        background: transparent;
        outline: none;
        width: 18px;
        line-height: 44px;
      }
    }
  }

  /* Here is problem in hover */
  .search_bar:hover {
    background: #303134;
  }

  .result_btn {
    padding-top: 18px;
    height: 70px;

    input {
      background-color: #303134;
      border: 1px solid #303134;
      border-radius: 4px;
      color: #e8eaed;
      font-family: Arial, sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }

    input:hover {
      border: 1px solid #54565c;
    }
  }

  .lang {
    margin-top: 18px;
    color: #80c2ec;

    a {
      text-decoration: none;
      padding-right: 3px;
      color: #80c2ec;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .coutry {
    background-color: #171717;
    padding: 15px 30px;
    border-bottom: 1px solid var(--gS5jXb);
    font-size: 15px;
    color: var(--YLNNHc);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(49, 49, 49);
  }

  .links {
    background-color: #171717;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 20px;

    .left_link,
    .right_link {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: #e8e8e8;
        display: block;
        padding: 15px;
        white-space: nowrap;
        background-color: #171717;

        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
